/* src/components/Footer.css */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.footer .left,
.footer .right {
    display: flex;
    align-items: center;
}

.footer .left p,
.footer .right p {
    margin: 0;
}

.footer .right {
    text-align: right;
}