/* src/components/Footer.css */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.footer .left {
    text-align: left;
    flex: 1;
}

.footer .right {
    text-align: right;
    flex: 1;
}